[Desktop Entry]
Encoding=UTF-8
Type=Application

Exec=plantumlqeditor
Icon=plantumlqeditor

Name=PlantUML QEditor

Categories=Development;
MimeType=application/x-plantumlqeditor;
